<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Calisan </title>
    </head>
<body>

    <script src="https://v2.txt.me/livechat/js/wrapper/8e38746338f941de8af4eb022e3a7d4c" async></script>
    <noscript><a href="https://txt.me/reviews/8e38746338f941de8af4eb022e3a7d4c" rel="nofollow">Rate First widget customer support</a>, powered by <a href="https://txt.me" rel="noopener nofollow" target="_blank">txt.me</a></noscript>

    <nav>
        <!-- Çalışan sayfasına yönlendirir ve ana başlık -->
        <div class="site-title">
            <a href="/calisan"><h1>Çalışan Sayfası</h1></a>
        </div>

        <div>
            <h2>Çalışan sayfasına hoşgeldiniz.</h2>
        </div>
        
        <!-- Ana sayfaya yönlendirir-->
        <ul>
            <li><a href="/"> Ana sayfaya dön.</a></li>
        </ul>

        <!-- MongoDB veri tabanından aldığı müşteri ve çalışan tipindeki kullanıcıların kullanıcı adı ve şifresini ekrana bastırır. -->
        <div class="kullancilar">
            <h2> Sistemde kayıtlı kullanıcılar: </h2>
                <% if (kullanicilar.length >0) { %> 
                    <% for(i=0; i<kullanicilar.length; i++){%> 
                        <p> <%= kullanicilar[i] %>  </p>
                    <% } %> 
                <% } %> 
        </div>
    </nav>
</body>
</html>