<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayit</title>
</head>
<body>
    
    <script src="https://v2.txt.me/livechat/js/wrapper/8e38746338f941de8af4eb022e3a7d4c" async></script>
    <noscript><a href="https://txt.me/reviews/8e38746338f941de8af4eb022e3a7d4c" rel="nofollow">Rate First widget customer support</a>, powered by <a href="https://txt.me" rel="noopener nofollow" target="_blank">txt.me</a></noscript>
    
    <!-- Kayıt sayfasına yönlendirme ve ana başlık -->
    <nav>
        <div class="site-title">
            <a href="/create"><h1>Kayıt Sayfası</h1></a>
        </div>
    </nav>
    
    <div class="kullanici-kayit">
        <!-- Kayıt olmak için geçerli kutucukları ve butonu oluşturur -->
        <form action="/create" method="POST">
            <label for="kayit-ad">Kullanıcı Adı:</label>
            <input type="text" id="kayit-ad-id" name="kullanici_adi" required>
            <label for="kayit-sifre">Şifre: </label>
            <input type="text" id="kayit-sifre-id " name="sifre" required>
            <label for="kayit-tip">Kullanıcı Tipi:</label>
            <input type="text" id="kayit-tip-id" name="kullanici_tipi" required>
            <button>Kayıt Ol</button>
        </form>

        <div>
            <p>Kullanıcı tipi kaydederken lütfen yönetici ise; yonetici, çalışan ise; calisan ve müşteri ise; musteri giriniz. </p>
        </div>

        <!-- Ana sayfaya yönlendirir -->
        <ul>
            <li><a href="/"> Ana sayfaya dön.</a></li>
        </ul>
    </div>
        
</body>
</html>


    