<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Project </title>
        <link href ="style.css" rel="stylesheet" src="style.css" type="text/css">
    </head>
<body>
    
    <script src="https://v2.txt.me/livechat/js/wrapper/8e38746338f941de8af4eb022e3a7d4c" async></script>
    <noscript><a href="https://txt.me/reviews/8e38746338f941de8af4eb022e3a7d4c" rel="nofollow">Rate First widget customer support</a>, powered by <a href="https://txt.me" rel="noopener nofollow" target="_blank">txt.me</a></noscript>

    <nav>
        
        <!-- Ana sayfaya yönlendirme ve ana başlık -->
        <div class="site-title">
            <a href="/"><h1>Ana Sayfa</h1></a>
        </div>
        
        <!-- Giriş yapmak için gerekli kutucukları ve butonu oluşturur -->
        <div class="giris">
            <form action="/" method="POST">
                <label for="giris-ad">Kullanıcı Adı:</label>
                <input type="text" id="giris-ad-id" name="kullanici_adi"required>
                <label for="giris-sifre">Şifre:</label>
                <input type="text" id="giris-sifre-id" name="sifre" required>
                <label for="giris-tip">Kullanıcı Tipi:</label>
                <input type="text" id="kayit-tip-id" name="kullanici_tipi" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    
        <!-- Kayıt sayfasına yönlendirir -->
        <ul>
            <li><a href="/create"> Kayıt ol.</a></li>
        </ul>
    </nav>
</body>
</html>